<fieldset data-hook="credit_card">
  <legend><%= Spree.t(:credit_card) %></legend>
  <table class="table table-condensed table-bordered">
    <tr>
      <th width="20%"><%= Spree.t(:name_on_card) %>:</th>
      <td><%= payment.source.full_name %></td>
    </tr>
  </table>
</fieldset>
