<body>
<table border="0">
  <tr>
    <td colspan="2" width="900" align="center">
      <%= image_tag attachments['logo.png'].url %>
    </td>
  </tr>
  <tr>
    <td width="310">
      <%= image_tag attachments['header.png'].url %>
    </td>
    <td width="590">
      <h1 style="color: #3d77b8;">¡LE DAMOS LA BIENVENIDA!</h1>
      <p>Felicidades por tomar la decisión de formar parte de Mira Compra, que le da la oportunidad de tener su negocio propio como distribuidor independiente.</p>
      <p>A continuación información importante de su registro:</p>
      <p>Usuario: <%=@ref.code %></p>
      <p>Contraseña: <span style="color: #BBBBBB">protegida</span></p>
      <p>Ingresa a <a href="http://www.miracompra.com.ec">www.miracompra.com.ec</a> con su usuario y contraseña para acceder al portal</p>
      <p>Le ofrecemos las mejores herramientas para lograr sus metas tales como: portal web, oficina virtual de negocios, catálogo físico y online, el apoyo de su patrocinador, así como el de todos los que conformamos esta empresa</p>
      <p>Estamos convencidos que hoy comienza una nueva etapa en su vida, la cual estará llena de grandes satisfacciones, cumpliendo sus más altos deseos y objetivos personales, familiares y económicos. Lo mejor es que ¡Todo depende de usted!</p>
      <p>Le sugerimos mantenerse siempre informado de las últimas noticias de Mira Compra, ingresando a <a href="http://www.miracompra.com.ec">www.miracompra.com.ec</a> y suscribiéndose a nuestro boletín.</p>
      <p>¡Bienvenido a nuestro equipo ganador!</p>
    </td>
  </tr>
  <tr>
    <td colspan="2" width="900" align="center">
      <h3>Para asegurarse que reciba nuestros emails por favor agréguenos a su libreta de direcciones</h3>
      <h3>Déjenos saber si podemos mejorar su experiencia.</h3>
      <h4>info@miracompra.com.ec</h4>
      <h4>(593) 04 6003018 - 04 6003016</h4>
    </td>
  </tr>
</table>

</body>