<fieldset>
  <p>Para finalizar tu transacción realiza tu depósito o transferencia a las siguientes cuentas:</p>

  <p>Banco <b>Internacional</b>  Cta. Cte.     <b>1400614468</b>
  <br>Banco <b>Pichincha</b> Cta. Cte.     <b>2100080333</b>
  <br>A nombre de COMERCIALIZADORA LOOK AND BUY COLOOBUY S.A.</p>

  <p>Luego envía tu papeleta de depósito al correo <a href="mailto:pagos@miracompra.com.ec">pagos@miracompra.com.ec</a> con los siguientes datos:
  <br>Código MC
  <br>Nombres Completos
  <br>Número de Cédula</p>

  <p>Tu depósito será procesado en un plazo máximo de 48 horas.</p>
</fieldset>