<div class="row">
  <div class="col-sm-12 hidden-xs leftbanner">
    <a href="/products/telefono-samsung-galaxy-ace-4-sm-g-316m-gris">
      <img src="<%=image_path("banner-left.jpg")%>" alt="Telefono Galaxy ACE" class="leftbanner"/>
    </a>
  </div>
</div>