
  <div class="footer">
    <div class="container">
      <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="row" class="logo-social-wrapper">
        <div class="col-xs-6 col-md-12 logo-wrapper">
          <a href="#"><img src="<%=image_path('logo_footer.png')%>" width="200"></a>
        </div>
        <div class="col-xs-6 col-md-12 socials">
        <a href="https://www.facebook.com/miracompra.com.ec"><img src="<%=image_path('fb.png')%>" class="first-icon"></a>
        <a href="https://twitter.com/miracompra"><img src="<%=image_path('tw.png')%>"></a>
        <a href="https://instagram.com/miracompra"><img src="<%=image_path('insta.png')%>"></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-9 footer-menu">
         <div class="row">

              <div class="col-md-3 column">
                <div class="label">INFORMACIÓN</div>
                <ul>
                  <li><a href="/info#quien">¿Quiénes somos?</a></li>
                  <li><a href="/info#quees">¿Qué es Mira Compra?</a></li>
                </ul>
              </div>
              <div class="col-md-3 column">
                <div class="label">SEA MIEMBRO</div>
                <ul>
                  <li><a href="/miembro#membresia">Membresías</a></li>
                  <li><a href="/miembro#distribuidor">¿Cómo me convierto en distribuidor independiente?</a></li>
                  <li><a href="/miembro#kit">Kit de Negocios</a></li>
                </ul>
              </div>
              <div class="col-md-3 column">
                <div class="label">SOPORTE</div>
                <ul>
                  <li><a href="/soporte#contactos">Contáctenos</a></li>
                  <li><a href="/soporte#guiacompras">Guía de Compras</a></li>
                  <li><a href="/soporte#garantias">Garantías</a></li>
                  <li><a href="/soporte#seguridad">Compras seguras</a></li>
                </ul>
              </div>
           <div class="col-md-3 column">
             <div class="label">AYUDA</div>
              <ul>
                <li><a href="/ayuda#faq">Preguntas frecuentes</a></li>
                <li><a href="/ayuda#envios">Envíos & Entregas</a></li>
                <li><a href="/ayuda#cambios">Cambios y devoluciones</a></li>
              </ul>
            </div>
         </div>
    </div>
      </div>

    </div>
  </div>

