<div class="screen1">
  <div class="container">
    <h1>MÁS DE<span style="font-size:80px; color:#ec2028; margin-left:20px;">900</span><br>PRODUCTOS EN<br><span style="color:#ec2028;">UN SOLO<br>CLICK!</span></h1>

    <a href="/catalog"><img src="<%=image_path('catalogo_btn.png')%>"></a>

    <a href="/products"><img src="<%=image_path('online_btn.png')%>"></a>

  </div>
</div>
