<div class="video-block">

  <div class="row top-block">
    <img src="<%=image_path('girl1.png')%>">
  </div>
  <div class="inner">
    <div class="inner2">

      <div class="container" style="padding-bottom: 30px;">

        <div class="video text-center">
          <div class="title">Conoce cómo ser parte de nuestra red de distribuidores y obtén descuentos por tus compras</div>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/1x-6faWoqTI?rel=0"></iframe>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="shadow"></div>
</div>
